#add-pokemon-btn {
    position: fixed;
    inset-block-start: 25px;
    inset-inline-end: 25px;
    padding: 10px 20px;
    font-size: 16px;
    margin-inline-end: 2310px;
    margin-block-start: 130px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#add-pokemon-btn:hover {
    background-color: #abf0af;
}

.modal {
    position: fixed;
    inset: 0;
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
    margin-inline-start: 1050px;
    margin-block-start: 400px;
}

.modal-content {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    inline-size: 400px;
    max-inline-size: 90%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: relative;
    animation: fadeIn 0.3s ease;
}

.close {
    position: absolute;
    inset-block-start: 10px;
    inset-inline-end: 10px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    background: none;
    border: none;
}

.close:hover {
    color: red;
}

form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

form label {
    font-weight: bold;
}

form input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

form button {
    background-color: #4caf50;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

form button:hover {
    background-color: #abf0af;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}